# ----------------------------
# Symfony / PHP
# ----------------------------
/var/
/vendor/
/.env.local
/.phpunit.result.cache
/.symfony/
/node_modules/

# ----------------------------
# Composer
# ----------------------------
composer.lock

# ----------------------------
# Docker
# ----------------------------
*.log
*.pid
*.seed
*.env
docker-compose.override.yml
**/uploads.ini

# ----------------------------
# IDEs / OS
# ----------------------------
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
Thumbs.db

# ----------------------------
# Front-end build (si jamais)
# ----------------------------
/dist/
/build/
