###> symfony/framework-bundle ###
# Environnement local
/.env.local
/.env.local.php
/.env.*.local

# Secrets prod
/config/secrets/prod/prod.decrypt.private.php

# Fichiers publics générés et caches
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
# Clés JWT privées/public
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> Go ###
# Binaires compilés
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dossiers compilés
/bin/
/build/
/dist/
###< Go ###

# Environnements locaux
.env.local
.env.local.php
.env.*.local


